@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Aboreto', serif;
}
body{
    display: flex;
    background-color: white;
}

.sidebar{
     position: relative;
     min-height: 100vh;
     width: 8%;
   
     transition: width 0.5s linear;
 }
 .sidebar .menu-title:hover{
    color: #FFC300;
 }

.menu-title{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    font-size: 2rem;
    color: white;
    width: 100%;
    background-color: #5463FF;
    transition: all 0.4s linear;
}

.menu-title h2{
    top:50%;
}

.menu{
    position: absolute;
    left: -300px;
    transition: all 0.8s linear;
    height: 100vh;
    background-color: #5463FF;
}
.menu button{
    color:#FFC300;
    transform: rotate(45deg);
    background-color: transparent;
    font-size: 5rem;
    border: none;
    left: 70%;
    position: relative;
    border-radius: 50%;
    
}
#menu-button-ham{
    display: none;
}
.menu button:hover{
   color:#FF1818;
   font-weight: bolder;
}
.menu ul li{
    list-style: none;
    color: white;
    font-size: 3rem;
    padding: 2rem 1rem;
    transition: 0.2s linear;
    font-weight: bolder;
    left: -30%;
}
.menu ul li:hover{
    color: #FFC300;
}
.ham-menu{
    display: none;
}
@media only screen and (max-width: 1082px){
    .menu-title{
        display:none;
    }
    .sidebar{
       background-color: transparent;
      
    }
    .ham-menu{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #5463FF;
        border-radius: 100%;
        height: 4rem;
        width: 4rem;
        position: relative;
        margin-top: 5%;
        left: -5%;
        transition: all 0.5s linear;
    }
    .ham-menu span{
        display: block;
        width: 2rem;
        height: 0.2rem;
        margin-bottom: 0.3rem;
        position: relative;
        background: #FFC300 ;
        border-radius: 3px; 
    }
    #menu-button-ham{
        display: block;
        transition:all 0.5s linear;
    }
    #menu-button{
        display: none;
    }
    

}