@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Aboreto', serif;
    background-color: #212121;
}
body{
    display: flex;
    background-color: #212121;
    position: relative;
}
.cursor{
    height:40px;
    width: 40px;
    border: #FFC300 solid 1px;
    border-radius: 50%;
    z-index: 10;
    position: absolute;
    transition: all 0.1s ease-out;
    background-color: transparent;
    margin: -40px 0 0 -40px;
}


/*sidebar menu stlying*/
.sidebar{
     position: relative;
     min-height: 100vh;
     width: 8%;
     z-index: 5;
     border-right: 2px #FFC300 solid;
 }
 .sidebar .menu-title:hover{
    color: #FFC300;
 }

.menu-title{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    font-size: 2rem;
    color: white;
    width: 100%;
   
    transition: all 0.8s linear;
}

.menu-title h2{
    top:50%;
}

.menu{
    position: absolute;
    left: -300px;
    transition: all 0.8s linear;
    height: 100vh;
    background-color: #212121;
}

.menu button{
    color:#FFC300;
    transform: rotate(45deg);
    background-color: transparent;
    font-size: 5rem;
    border: none;
    left: 70%;
    position: relative;
    border-radius: 50%;
}
#menu-button-ham{
    display: none;
}
.menu button:hover{
   color:#FF1818;
   font-weight: bolder;
}
.menu ul li{
    list-style: none;
    
    font-size: 3rem;
    padding: 2rem 1rem;
    transition: 0.2s linear;
    font-weight: bolder;
    left: -30%;
    background-color: #212121;
}
.menu ul li a{
    color: white;
    text-decoration: none;
}
.menu ul li a:hover{
    color: #FFC300;
}
.ham-menu{
    display: none;
}
@media only screen and (max-width: 1082px){
    
    .menu-title{
        display:none;
    }
    .sidebar{
       background-color: transparent;
      border: none;
    }
    .ham-menu{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: transparent;
        border-radius: 100%;
        height: 25%;
        width: 4rem;
        position: relative;
    
        transition: all 0.5s linear;
    }
    .ham-menu span{
        display: block;
        width: 2rem;
        height: 0.2rem;
        margin-bottom: 0.3rem;
        position: relative;
        background: #FFC300 ;
        border-radius: 3px; 
    }
    #menu-button-ham{
        display: block;
        transition:all 0.5s linear;
    }
    #menu-button{
        display: none;
    }
}

/*Main page styling*/
main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
    
    /*title styling*/
header{
    width: 100%;
    height: 29%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #212121;
}
header span{
        font-size: 3rem;
        display: flex;
        font-weight: bolder;
        color: #FFC300;
}

header .dot{
    height:0.5rem;
    width:0.5rem;
    background-color: white;
    border-radius: 50%;

}
.bouncy:hover{
    animation-name: rubberband;
    animation : rubberband 800ms alternate ease-out;
}

    @keyframes rubberband{
        0%{
            transform: scaleX(1);
        }
        40%{
            transform: scaleX(1.12) scaleY(0.75);
        }
        55%{
            transform: scaleX(0.85) scaleY(1);
        }
        65%{
            transform: scaleX(1.09) scaleY(0.85);
        }
        75%{
            transform: scaleX(0.9)  scaleY(1);
        }
        90%{
            transform: scaleX(1.05) scaleY(0.95);
        }
        100%{
            transform: scaleX(1) scaleY(1);
        }
    }
@media only screen and (max-width:1082px){
    header{
        height: 25%;
    }
    header span{
        font-size: 1.5rem;
    }
}

.info{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
/*Styling bio section*/
.bio{
    width: 50%;
}
.bio p{
    color: white;
    font-size: 2rem;
    margin-left: 5%;
    line-height: 3rem;
}
@media only screen and (max-width:1082px){
    .info{
       align-items: center;
       justify-content: center;
    }
    .bio{
        width: 75%;
    }
    .bio p{
        font-size:1.2rem;
    }
}
/*Projects Styling Flip Cards*/
.img-wrap{
    width: 10rem;
    margin: 4rem;
}
.flip-card-front img{
    height: 20rem;
    box-shadow: -50px -50px 0px -40px #FFC300, 50px 50px 0px -40px #FFC300;
}
.flip-card-back img{
    height: 20rem;
    box-shadow: -50px -50px 0px -40px #FFC300, 50px 50px 0px -40px #FFC300;*/
}
.flip-card {
    margin: auto 0;
    background-color: transparent;
    width: 13rem;
    height: 20rem;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
    
    
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
   backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #212121;
    color: white;
    transform: rotateY(180deg);
  }
   
